$primary: #bc865c;
$secondary: #fff;

.page {
  min-height: 100vh;
  background-color: $primary;
  color: $secondary;

  .menu {
    background-color: $secondary;

    &-line {
      background-color: $primary;
    }
  }

  .content ul {
    &:first-child {
      margin-top: 60px;
    }

    &:last-child {
      margin-bottom: 60px;
    }

    li {
      margin: 10px 0;
    }
  }

  .title {
    background-color: $secondary;
    color: $primary;
  }
}
